* {
  box-sizing: border-box;
  /* outline: 1px solid lime; */
}

:root {
  --color-bg: black;
  --color-inverse-bg: white;
  --color-text: white;
  --color-inverse-text: black;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: var(--color-text);
  background-color: var(--color-bg);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme-selector > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  padding: 1rem 3rem;
  margin-inline: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  background: white;
  outline: 1px solid black;
}

.theme-selector input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color);
  outline-offset: 3px;
  border-radius: 50%;
}

.theme-selector input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.theme-selector input[type="radio"]#dark {
  --radio-color: black;
}

.theme-selector input[type="radio"]#light {
  --radio-color: aqua;
}

:root:has(#dark:checked) {
  --color-bg: black;
  --color-inverse-bg: white;
  --color-text: white;
  --color-inverse-text: black;
}

:root:has(#light:checked) {
  --color-bg: white;
  --color-inverse-bg: black;
  --color-text: black;
  --color-inverse-text: white;
}

.container {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

section {
  padding-block: 15rem;
}
main {
  padding-bottom: 15rem;
}

.secondary-nav {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.flex-layout {
  display: flex;
  gap: 2rem;
}

.grid-layout {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5rem;
  padding-block: revert;
}

.top-row {
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  border: 2px solid var(--color-bg);
  background-color: white;
}

.search-input {
  flex: 1;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: 0;
}

.bottom-row {
  justify-content: center;
}

.top-row,
.bottom-row {
  /* margin-block: 2rem; */
  padding-block: 2rem;
}

.navbar,
.bottom-row {
  gap: 5rem;
}

.navbar {
  margin-right: 2rem;
}

.page-title {
  padding-top: 5rem;
  font-size: 5rem;
}

.section-title,
.page-title {
  margin-block: 0;
}

.inverse-color {
  background-color: var(--color-inverse-bg);
  color: var(--color-inverse-text);
}

.bigger {
  font-size: 1.4rem;
}

.highlight-text,
.highlight-text-fast {
  font-weight: 700;
  background-image: linear-gradient(90deg, aqua, rgb(220, 255, 255));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.highlight-text-fast {
  transition: background-size 150ms ease;
}

.highlight-text:hover,
.highlight-text-fast:hover {
  cursor: pointer;
  background-size: 100% 3px;
}

.icon {
  font-size: 2.5rem;
  transition: color 150ms ease-in;
}

.icon-button {
  font-size: 1.75rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.no-theme {
  color: black;
}

.icon:hover {
  color: aqua;
}

.card,
.column {
  text-align: center;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-options {
  position: absolute;
  display: none;
  padding: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu:hover .dropdown-options {
  display: block;
}

@media (max-width: 35em) {
  .navbar {
    gap: 1rem;
  }
  .page-title {
    font-size: 3rem;
  }

  .courses,
  .resume {
    display: block;
  }

  .dropdown-options {
    padding: 0.2rem;
    font-size: 1rem;
  }
}
